<form method="get" action="/data/search_by_title">  
        <input type="text" name="movie_title" placeholder="Enter Movie Title" required  >
        <input type="submit" value="Search">                
        
    </form>